body {
	line-height: 150%;
	color: #366285;
	background: #E6F8D3;
	font-size: 100%;
	padding: 10px 15px;

}

.sample {
	color: #C2DDFE;
	background: #000000;
	border-top: 0.3em groove #8D7A2E;
	border-right: 0.3em solid #B59C3C;
	border-bottom: 0.3em ridge #DFD29D;
	border-left: 0.3em outset #8A772D;
	font: 100%/100% "Courier New", "Courier", serif;
	margin: 0.5em 1em 0.8em;
	padding: 0.5em 1em;



}
.sample a {	color: #C2DDFE;
	background: #000000;}


h1 {
	font-size: 170%;
	color: #C83120;
	  background-color:transparent;
}
h2 {
	font-size: 140%;
	color: #C83120;
	  background-color:transparent;
	text-indent: 0.3em;


}
h3 {
	font-size: 120%;
	color: #C83120;
	  background-color:transparent;
	text-indent: 0.7em;

}
h4 {
	font-size: 100%;
	color: #C83120;
	  background-color:transparent;
	text-indent: 3em;

}
h5 {
	font-size: 100%;
	color: #C83120;
	background-color:transparent;
	text-indent: 3.2em;

}
p {
	padding: 0.1em 1em;
}
.TopTable {
	width: 100%;
}
.TtdL      {width:10%;text-align:left}
.TtdC      {width:80%;text-align:center} 
.TtdR      {width:10%;text-align:right}
.BtdL      {width:33%;text-align:left}
.BtdC      {width:34%;text-align:center}
.BtdR      {width:33%;text-align:right}
.TopTable caption {
	font-size: 160%;
}
.term {
	color: #385825;
	background: #F8D5F9;
	border: 0.2em solid #3A43A7;
}
HdTitle {
	text-align: center;
	vertical-align: middle;
}
table {
	vertical-align: top;
	line-height: 110%;
	width: 100%;


}
p:hover {
	color:#366285;
		background: #F8D5F9;
	cursor: pointer;

}
.ImgLogo {
	border: none 0em transparent;
	height: 32px;
	width: 88px;
}

a:link {color:#007ECA;background-color:transparent;}
a:hover{color:#386D49;background-color:transparent;}
a:visited {color:#007ECA;background-color:transparent;}
